<div class="container body-content">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 justify-content-md-center">
        <div class="col col-sm-2">
        </div>
        <div class="col-sm-auto">
            <h2><b>Featured Products</b></h2>
        </div>
        <div class="col col-sm-2">
        </div>
    </div>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
        <div class="col">
            <img src="~/Content/image/img-thumb.png" />
        </div>
        <div class="col">
            <img src="~/Content/image/img-thumb.png" />
        </div>
        <div class="col">
            <img src="~/Content/image/img-thumb.png" />
        </div>
        <div class="col">
            <img src="~/Content/image/img-thumb.png" />
        </div>
        <div class="col">
            <img src="~/Content/image/img-thumb.png" />
        </div>
    </div>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 justify-content-md-center">
        <div class="col col-sm-2">
        </div>
        <div class="col-sm-auto" style="text-align: center;">
            <button class="btn btn-outline-dark">View All</button>
        </div>
        <div class="col col-sm-2">
        </div>
    </div>
</div>

<div style="background: linear-gradient(355deg, rgba(81,12,15,1) 35%, rgba(143,10,16,1) 100%);">
    <div class="container">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 justify-content-md-center">
            <div class="col col-sm-2">
            </div>
            <div class="col-sm-auto">
                <h2><b style="color: white;">Shop Categories</b></h2>
            </div>
            <div class="col col-sm-2">
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
        </div>
    </div>
</div>

<div style="background-color: #000002;">
    <div class="container">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 justify-content-md-center">
            <div class="col col-sm-2">
            </div>
            <div class="col-sm-auto">
                <h2><b style="color: white;">Shop Categories</b></h2>
            </div>
            <div class="col col-sm-2">
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
            <div class="col">
                <img src="~/Content/image/img-thumb.png" />
            </div>
        </div>
    </div>
</div>



@*<div class="row mb-lg-3 text-center">
    <div class="col-12 themed-grid-col">
        1 of 3
    </div>
</div>
<div class="row mb-lg-3 text-center">
    <div class="col-12 themed-grid-col">
        1 of 3
    </div>
</div>
<div class="row mb-lg-3 text-center">
    <div class="col-12 themed-grid-col">
        1 of 3
    </div>
</div>*@
