<head>
    <style>
        td.text-control {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .mainPanelDiv {
            margin-top: 1%;
            margin-bottom: 2%;
        }

        .mainPanelDivH {
            height: 450px;
            max-height: 450px;
        }

        category {
            text-decoration: none;
            color: #ffffff !important;
            font-weight: 600 !important;
        }

        .text-link {
            color: #ffffff !important;
            font-weight: 600 !important;
        }

        .link-arrow p {
            display: inline-block;
            transition: 0.1s ease-in;
            color: #ffffff;
            font-weight: 500;
        }

        .link-arrow:hover p {
            transform: translateX(50%);
            color: #ffffff;
            font-weight: 500;
        }
    </style>
</head>
<div class="section-padding" style="background-color: #ffffff;">
    <div class="container">
        <div class="row justify-content-md-center" style="">
            <div class="col-sm-auto">
                <h1><b style="font-weight: bold;">Featured Products</b></h1>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 mainPanelDiv">
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice">₱ 279.00</label>
                        <label class="form-label label-productprice">₱ 279.00</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice">₱ 279.00</label>
                        <label class="form-label label-productprice">₱ 279.00</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/sample-product.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice">₱ 279.00</label>
                        <label class="form-label label-productprice">₱ 279.00</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice">₱ 279.00</label>
                        <label class="form-label label-productprice">₱ 279.00</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/sample-product.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice">₱ 279.00</label>
                        <label class="form-label label-productprice">₱ 279.00</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 justify-content-md-center">
            <div class="col-sm-auto" style="text-align: center;">
                <button class="btn btn-outline-dark btn-outline-osus" style="width: -webkit-fill-available;">View All</button>
            </div>
        </div>

    </div>
</div>

<div class="section-padding" style="background: linear-gradient(355deg, rgba(81,12,15,1) 35%, rgba(143,10,16,1) 100%);">
    <div class="container">
        <div class="row justify-content-md-center" style="">
            <div class="col-sm-auto">
                <h1><b style="font-weight: bold; color: #ffffff;">Shop Categories</b></h1>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 mainPanelDiv">
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Inks <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Needle/Cartridge <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/sample-product.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Stencils/Thermal <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Soap / Cleansing / Foaming <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/sample-product.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Film / Cover / Tape <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 mainPanelDiv">
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Glide / Ointment / Aftercare <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Printer <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/sample-product.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Ink cups <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Soap / Cleansing / Foaming <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/sample-product.png" />
                    <div class="label-margin">
                        <a href="" class="text-link category link-arrow">Film / Cover / Tape <p>&#10132;</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 justify-content-md-center">
            <div class="col-sm-auto" style="text-align: center;">
                <button class="btn-outline-osus btn btn-outline-light" style="width: -webkit-fill-available;">View All</button>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #000002;">
    <img src="~/Content/image/new-arrival.png" />
    @*<div class="row row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 justify-content-md-center">
            <div class="col-sm-auto" style="text-align: center;">
                <button class="btn-outline-osus btn btn-outline-light" style="width: -webkit-fill-available;">Shop NOW</button>
            </div>
        </div>*@
</div>

<div>
    <div class="container-fluid text-center my-3">
        <div class="row">
            <div class="row mx-auto my-auto justify-content-center">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img card-img-top">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-2-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-3-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img card-img-top">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-4-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-5-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-6-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-7-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-8-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-9-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-10-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-11-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-12-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-13-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-14-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card mx-1">
                                    <div class="card-img">
                                        <div class="card-img-container">
                                            <img src="~/Content/image/team/team-15-resized.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mt-3 col-md-12">
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#myCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #727070;"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#myCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #727070;"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function initCarousel() {
            $(".carousel-item").each(function () {
                var i = $(this).next();
                i.length || (i = $(this).siblings(":first")),
                    i.children(":first-child").clone().appendTo($(this));

                for (var n = 0; n < 4; n++)
                    (i = i.next()).length || (i = $(this).siblings(":first")),
                        i.children(":first-child").clone().appendTo($(this));
            });
        }
        $(window).on({
            resize: initCarousel(),
            load: initCarousel()
        });
    });
</script>

@*<div class="row mb-lg-3 text-center">
        <div class="col-12 themed-grid-col">
            1 of 3
        </div>
    </div>
    <div class="row mb-lg-3 text-center">
        <div class="col-12 themed-grid-col">
            1 of 3
        </div>
    </div>
    <div class="row mb-lg-3 text-center">
        <div class="col-12 themed-grid-col">
            1 of 3
        </div>
    </div>*@
