@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        span {
            cursor: pointer;
        }

        .minus, .plus {
            width: 20px;
            background: #f2f2f2;
            border-radius: 4px;
            padding: 5px 5px 5px 5px;
            border: 1px solid #ddd;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
        }

        input {
            height: 34px;
            width: 100px;
            text-align: center;
            font-size: 26px;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>

<div style="background-color: #ffffff;">
    <div class="row justify-content-md-center" style="">
        <div class="col col-sm-2">
        </div>
        <div class="col-sm-auto" style="margin-top: 2%;">
            <h2><b style="color: #000000;">Your Cart</b></h2>
        </div>
        <div class="col col-sm-2">
        </div>
    </div>
    <div class="row" style="width: 95%; margin: auto; margin-top: 2%;">
        <div class="col-sm-12">
            <table class="table table-responsive-sm" style="margin: auto;">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"><label class="float-end">Total</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-6 col-sm-3"><img src="~/Content/image/samp-prod2.png" style="max-width:min-content;" /></div>
                                <div class="col-6 col-sm-3">
                                    <label class="form-label" style="font-weight: bold;">Red Dragon Cartridge 1 Box (20 pcs)</label>
                                    <label class="origPrice form-label" style="text-decoration: line-through;">₱ 279.00</label>
                                    <label class="form-label dcPrice" style="color: #ED1C24;">₱ 279.00</label>
                                </div>
                            </div>
                        </td>
                        <td style="align-content: center;">
                            <div class="number">
                                <span class="minus">-</span>
                                <input type="text" value="1" />
                                <span class="plus">+</span>
                            </div>
                        </td>
                        <td style="align-content: center;">
                            <label class="float-end">₱ 279.00</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-6 col-sm-3"><img src="~/Content/image/samp-prod2.png" style="max-width:min-content;" /></div>
                                <div class="col-6 col-sm-3">
                                    <label class="form-label" style="font-weight: bold;">Red Dragon Cartridge 1 Box (20 pcs)</label>
                                    <label class="origPrice form-label" style="text-decoration: line-through;">₱ 279.00</label>
                                    <label class="form-label dcPrice" style="color: #ED1C24;">₱ 279.00</label>
                                </div>
                            </div>
                        </td>
                        <td style="align-content: center;">
                            <div class="number">
                                <span class="minus">-</span>
                                <input type="text" value="1" />
                                <span class="plus">+</span>
                            </div>
                        </td>
                        <td style="align-content: center;">
                            <label class="float-end">₱ 279.00</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-6 col-sm-3"><img src="~/Content/image/samp-prod2.png" style="max-width:min-content;" /></div>
                                <div class="col-6 col-sm-3">
                                    <label class="form-label" style="font-weight: bold;">Red Dragon Cartridge 1 Box (20 pcs)</label>
                                    <label class="origPrice form-label" style="text-decoration: line-through;">₱ 279.00</label>
                                    <label class="form-label dcPrice" style="color: #ED1C24;">₱ 279.00</label>
                                </div>
                            </div>
                        </td>
                        <td style="align-content: center;">
                            <div class="number">
                                <span class="minus">-</span>
                                <input type="text" value="1" />
                                <span class="plus">+</span>
                            </div>
                        </td>
                        <td style="align-content: center;">
                            <label class="float-end">₱ 279.00</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bottomPart">
        <div class="row">
            <div class="col-4 col-sm-4"></div>
            <div class="col-4 col-sm-4"><div class="float-end">Subtotal:</div></div>
            <div class="col-4 col-sm-4">₱ 279.00</div>

            <!-- Force next columns to break to new line at md breakpoint and up -->
            <div class="w-100 d-none d-md-block"></div>

            <div class="col-4 col-sm-4"></div>
            <div class="col-4 col-sm-4"></div>
            <div class="col-4 col-sm-4"><button class="btn btn-dark" type="button" style="margin-left: -15%; margin-top: 2%; margin-bottom: 20%; width: inherit;">Buy Now</button></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".mainBanner").css("display", "none");

    $(document).ready(function () {
        $('.minus').click(function () {
            var $input = $(this).parent().find('input');
            var count = parseInt($input.val()) - 1;
            count = count < 1 ? 1 : count;
            $input.val(count);
            $input.change();
            return false;
        });
        $('.plus').click(function () {
            var $input = $(this).parent().find('input');
            $input.val(parseInt($input.val()) + 1);
            $input.change();
            return false;
        });
    });
</script>


