@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-padding" style="background-color: #ffffff;">
    <div class="container">

        <div class="row justify-content-md-center">
            <div class="col-sm-auto">
                <h1><b>Order successfully placed</b></h1>
            </div>
        </div>

        <div class="row justify-content-md-center">
            @*Main Info*@
            <div class="col-sm-12">
                <div class="mb-4">
                    <p class="fs-3" style="text-align: center;">Thank you for your order! We’re processing it right away.</p>
                </div>
                <div class="mb-4">
                    <p class="fs-3" style="text-align: center;">We’ll send you the tracking number once it’s ready. Please allow 2–5 days for delivery.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-padding" style="background: linear-gradient(355deg, rgba(81,12,15,1) 35%, rgba(143,10,16,1) 100%);">
    <div class="container">
        <div class="row justify-content-md-center" style="">
            <div class="col-sm-auto">
                <h1><b style="font-weight: bold; color: #ffffff;">You may also like</b></h1>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">

            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                        <label class="form-label label-productprice-light">₱ 279.00</label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                        <label class="form-label label-productprice-light">₱ 279.00</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                        <label class="form-label label-productprice-light">₱ 279.00</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                        <label class="form-label label-productprice-light">₱ 279.00</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <img src="~/Content/image/samp-prod2.png" />
                    <div class="label-margin">
                        <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                        <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                        <label class="form-label label-productprice-light">₱ 279.00</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    $(".mainBanner").css("display", "none");
</script>